vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Nov 2020 17:14:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|login.php checkLogin.php
vti_author:SR|DESKTOP-IA8C5Q8\\Ana Dinis
vti_modifiedby:SR|DESKTOP-IA8C5Q8\\Ana Dinis
vti_timecreated:TR|18 Nov 2020 16:53:12 -0000
vti_nexttolasttimemodified:TW|18 Nov 2020 16:53:12 -0000
vti_cacheddtm:TX|18 Nov 2020 17:14:48 -0000
vti_filesize:IR|880
vti_cachedlinkinfo:VX|Q|https://fonts.googleapis.com/css2
vti_cachedsvcrellinks:VX|NQSS|https://fonts.googleapis.com/css2
